.container {
  width: min(92%, 768px);
  margin: calc(8vh + 6vw) auto calc(4vh + 2vw);
  color: #ffffff;
}

.styled {
  font-size: 14px;
  h1 {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 2em;
  }
  h2 {
    font-size: 1.2em;
    margin-top: 2em;
  }
  p,
  ul,
  ol {
    margin: 0.5em 0;
  }
  ul {
    list-style: unset;
    padding-left: 1.5em;
  }
  ol {
    list-style: decimal;
    padding-left: 1.5em;
  }
  ol ol {
    list-style: lower-alpha;
  }
  time {
    display: block;
    padding-top: 2em;
    text-align: right;
  }
  a {
    color: #b3ac8a;
  }
}
