.container {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px 0 200px;
  > .headline {
    margin-bottom: 32px;
  }
  > p {
    padding: 0 4%;
    text-align: center;
    font-size: 0.9rem;
    line-height: 2;
  }
  > p + p {
    margin-top: 32px;
  }
}

@media (min-width: 1024px) {
  .container {
    > p {
      width: 940px;
      margin: 0 auto;
      white-space: pre-line;
    }
  }
}
