$-shadow: black 2px 0px 8px, black -2px 0px 8px, black 0px -2px 8px, black -2px 0px 8px, black 2px 2px 16px,
  black -2px 2px 16px, black 2px -2px 16px, black -2px -2px 16px;

.bg {
  background-image: url("../../../public/img/hero/sp.png");
  background-image: url("../../../public/img/hero/sp.webp");
}
@media (min-width: 680px) {
  .bg {
    background-image: url("../../../public/img/hero/pc.png");
    background-image: url("../../../public/img/hero/pc.webp");
  }
}

.container {
  position: relative;
  z-index: 1;
  margin-top: calc(3vh + 3vw);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  > div {
    padding-top: calc(12vh + 12vw);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.text {
  width: 100vw;
  font-size: clamp(18px, 4vw, 28px);
  letter-spacing: 1px;
  text-align: center;
  text-shadow: $-shadow;
}

.line {
  line-height: 1;
}

.line + .line {
  margin-top: min(4vw, 20px);
}

.number {
  font-size: 1.9em;
  margin: 0 6px;
  position: relative;
  text-shadow: $-shadow;
  &::before {
    position: absolute;
    width: max-content;
    color: rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(270deg, #fff, #caa72a);
    background-clip: text;
    text-shadow: none;
  }
}

.strong {
  vertical-align: bottom;
  font-size: 1.1em;
  letter-spacing: 2px;
  margin: 0 2px;
}

.itk_button {
  position: relative;
}

.itk {
  width: clamp(280px, 100vw, 1050px);
  margin-bottom: 16px;
}

.button {
  width: 89%;
  left: 5.5%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  > a {
    display: block;
    width: clamp(255px, 100%, 480px);
    height: fit-content;
  }
}

@media (min-width: 680px) {
  .container {
    margin-top: 0;
  }
  .line + .line {
    display: inline-block;
  }
  .itk_button {
    margin-top: -20px;
  }
  .itk {
    margin-bottom: 0;
  }
  .button {
    top: 64%;
    margin-bottom: 0;
  }
}

@media (min-width: 1480px) {
  .container {
    > div {
      padding-top: calc(24vw);
    }
  }
  .text {
    font-size: 2vw;
  }
  .itk {
    width: 70vw;
  }
  // .button {
  //   > a {
  //     width: 40%;
  //   }
  // }
}
