.container {
  > h1 {
    color: #b3ac8a;
    font-size: 1.2rem;
    letter-spacing: 5px;
    margin-bottom: 40px;
    text-align: center;
  }
}

.content {
  display: grid;
  padding: 0 4%;
  justify-items: center;
  grid-template:
    "... ..... ..." 3vh
    "... img   ..."
    "... ..... ..." 2vh
    "... title ..."
    "... ..... ..." 2vh
    "... body  ..." 1fr
    "... ..... ..." 4px
    "... notes ..."
    "... ..... ..." 3vh
    / auto 1fr auto;

  &:nth-child(odd) {
    background-color: #1f1f1f;
  }
  &:nth-child(1) {
    background-size: cover;
    background-position: 160px center;
  }
  &:nth-child(3) {
    background-size: cover;
    background-position: 160px center;
  }
  &:nth-child(5) {
    background-size: cover;
    background-position: 160px center;
  }
  > img {
    grid-area: img;
    width: 40%;
  }
  > h2 {
    grid-area: title;
    color: #b3ac8a;
    line-height: 1;
    font-size: clamp(1.2rem, 5vw, 1.8rem);
    > span {
      font-size: 1.6em;
    }
  }
  > p {
    grid-area: body;
    font-size: 0.9rem;
    line-height: 2;
    white-space: pre-line;
  }
  > ul {
    grid-area: notes;
    width: 100%;
    > li {
      font-size: 0.8rem;
      line-height: 2.2;
    }
  }
}

.more {
  width: min(92%, 940px);
  margin: 0 auto;
  padding: 60px 0 80px;
  border-bottom: 1px solid #29261d;
  text-align: center;
  > .headline {
    margin-bottom: 32px;
  }
  > p {
    font-size: 0.9rem;
    line-height: 2;
  }
}

@media (min-width: 768px) {
  .content {
    justify-items: flex-start;
    &:nth-child(odd) {
      grid-template:
        "... ... ... ..... ..." 40px
        "... img ... title ..."
        "... img ... ..... ..." 24px
        "... img ... body  ..." 1fr
        "... img ... ..... ..." 4px
        "... img ... notes ..."
        "... ... ... ..... ..." 40px
        / calc((100% - 940px) / 2) 220px 40px 1fr calc((100% - 940px) / 2);
    }
    &:nth-child(even) {
      grid-template:
        "... ..... ... ... ..." 40px
        "... title ... img ..."
        "... ..... ... img ..." 24px
        "... body  ... img ..." 1fr
        "... ..... ... img ..." 4px
        "... notes ... img ..."
        "... ..... ... ... ..." 40px
        / calc((100% - 940px) / 2) 1fr 40px 220px calc((100% - 940px) / 2);
    }
    &:nth-child(1) {
      background-size: auto 100%;
      background-position: 80% center;
    }
    &:nth-child(3) {
      background-size: auto 140%;
      background-position: 34% center;
    }
    &:nth-child(5) {
      background-size: auto 140%;
      background-position: 80% bottom;
    }
    > img {
      width: 100%;
    }
  }
  .more {
    > p {
      white-space: pre-line;
    }
  }
}
