.container {
  position: relative;
  padding: calc(6vh + 4vw) 0 calc(8vh + 2vw);
  text-align: center;
  > h1 {
    color: #b3ac8a;
    font-size: clamp(1rem, 3vw, 1.3rem);
    letter-spacing: 4px;
    margin-bottom: calc(1.5vh + 1.5vw);
    position: relative;
    z-index: 1;
  }
}

.smoke {
  user-select: none;
  position: absolute;
  width: 100%;
  bottom: -15vw;
}

@media (min-width: 2000px) {
  .container {
    padding: calc(4vw + 4vh) 0;
  }
}
