.container {
  margin: 0 auto;
  padding: 60px 0 0;
  position: relative;
}

.headline {
  margin-bottom: calc(2vh + 3vw);
}

.members {
  display: grid;
  grid-gap: calc(2vh + 1vw);
  > li {
    display: grid;
    grid-template:
      "... ... ..... ... ..."
      "... img img   img ..."
      "... ... ..... ... ..." 16px
      "... ... rank  ... ..."
      "... ... ..... ... ..."
      "... ... name  ... ..."
      "... ... ..... ... ..." 8px
      "... ... intro ... ..." 1fr
      "... ... ..... ... ..." 16px
      / auto 3% 1fr 3% auto;

    > .img {
      grid-area: img;
      height: 480px;
      position: relative;
    }
    > h1 {
      grid-area: name;
      font-size: 1.2rem;
    }
    > h2 {
      grid-area: rank;
      color: #b3ac8a;
      font-size: 1.1rem;
    }
    > p {
      grid-area: intro;
      line-height: 2;
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 480px) {
  .container {
    width: 92%;
  }
  .members {
    > li {
      grid-template:
        "... ... ... ..... ..."
        "... img ... rank  ..."
        "... img ... ..... ..."
        "... img ... name  ..."
        "... img ... ..... ..." 12px
        "... img ... intro ..." 1fr
        "... ... ... ..... ..."
        / auto 180px calc(1vw + 1vh) 1fr auto;

      > .img {
        height: 240px;
      }
    }
  }
}

@media (min-width: 768px) {
  .members {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 940px;
    padding: 60px 0;
  }
}
