.container {
  width: min(92%, 940px);
  text-align: center;
  padding: 40px 0 24px;
  margin: 0 auto;
  color: #9f9f9f;
}

.links {
  display: inline-grid;
  grid-gap: 12px;
}

.link {
  display: contents;
  > a {
    font-size: 0.9rem;
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.copyright {
  display: block;
  margin-top: 24px;
}

@media (min-width: 680px) {
  .links {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
  }
}
