.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 100px;
  position: relative;
  overflow: hidden;
}

.icon {
  display: block;
  width: clamp(40px, 8vw, 60px);
  margin: 0 auto 20px;
}

.front {
  z-index: 1;
  position: relative;
}

.title {
  color: #b3ac8a;
  text-align: center;
  font-size: clamp(1rem, 4vw, 1.8rem);
  line-height: 1.6;
  letter-spacing: 1px;
  > strong {
    color: #fff;
    font-size: 1.3em;
    background: linear-gradient(transparent 60%, #b3ac8a7a 60%);
    padding: 0 0 3px 2px;
    margin-right: 3px;
  }
  > span {
    font-size: 1.1em;
  }
}

.paragraph {
  text-align: center;
  margin: 48px auto 60px;
  padding: 0 4%;
  font-size: 0.9rem;
  line-height: 2.2;
}

.frame {
  width: 92%;
  margin: 0 auto;
  border: 1px solid #b3ac8a;
  position: relative;
  z-index: 1;
  > img.goldTopLeft {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  > img.goldBottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: auto;
  }
  &:nth-of-type(1) {
    padding: 32px 16px;
    > img.shimabu_udegumi {
      position: absolute;
      bottom: 0;
      width: 220px;
      right: -40px;
    }
    > p {
      padding-right: 88px;
    }
  }
  &:nth-of-type(2) {
    margin-top: calc(1vh + 1vw);
    padding: 32px 16px 50vw;
    > img.soldiers {
      position: absolute;
      bottom: 0;
      left: -10px;
      width: 100%;
    }
    > img.goldBottomRight {
      display: none;
    }
  }
  > h2 {
    color: #b3ac8a;
    font-weight: bold;
    font-size: clamp(1.1rem, 4vw, 1.6rem);
    letter-spacing: 2px;
    > strong {
      color: #fff;
      font-size: 1.4em;
    }
  }
  > p {
    margin-top: 28px;
    font-size: 0.9rem;
    line-height: 2.2;
    > br {
      display: none;
    }
  }
  > h2,
  > p {
    position: relative;
    z-index: 2;
  }
}

.note {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  margin-top: calc(1.5vh + 1.5vw);
  padding: 0 4%;
}

.backgroundText {
  display: block;
  position: absolute;
  color: rgb(41 38 29 / 70%);
  font-size: 6rem;
  &.sai {
    top: 60px;
    left: 0;
  }
  &.kou {
    top: 10px;
    left: 76px;
  }
  &.kyou {
    top: 116px;
    left: 76px;
  }
}

@media (min-width: 480px) {
  .frame {
    > img.goldTopLeft {
      height: 100%;
      width: auto;
    }
    &:nth-of-type(2) {
      padding: 32px 16px 32px 28vw;
      > img.soldiers {
        position: absolute;
        bottom: 0;
        left: -32px;
        width: 44vw;
      }
    }
  }
  .backgroundText {
    color: rgb(41 38 29 / 80%);
    font-size: 8rem;
    &.sai {
      top: 60px;
      left: 0;
    }
    &.kou {
      top: 8px;
      left: 104px;
    }
    &.kyou {
      top: 136px;
      left: 104px;
    }
  }
}

@media (min-width: 768px) {
  .container {
    overflow: visible;
  }
  .paragraph {
    white-space: pre-line;
  }
  .backgroundText {
    color: rgb(41 38 29 / 100%);
    font-size: 12rem;
    &.sai {
      top: 60px;
      left: -20px;
    }
    &.kou {
      top: -40px;
      left: 128px;
    }
    &.kyou {
      top: 172px;
      left: 132px;
    }
  }
  .frame {
    text-align: center;
    &:nth-of-type(1) {
      > img.shimabu_udegumi {
        right: 8px;
      }
      > p {
        padding-right: 0;
      }
    }
    &:nth-of-type(2) {
      padding: 40px 24px 44px;
      > img.goldTopLeft {
        display: none;
      }
      > img.goldBottomRight {
        display: block;
      }
      > img.soldiers {
        left: -44px;
        height: 115%;
        width: auto;
      }
    }
    > p {
      > br {
        display: block;
      }
    }
  }
}

@media (min-width: 1024px) {
  .container {
    width: 940px;
  }
  .frame {
    width: 940px;
    padding: 40px 24px 44px;
  }
}
