.container {
  width: 100%;
  margin: 0 auto;
  padding: 40px 0 100px;
  position: relative;
  overflow: hidden;
}

.icon {
  user-select: none;
  width: clamp(40px, 8vw, 60px);
  margin: 0 auto 20px;
}

.front {
  z-index: 1;
  position: relative;
}

.title {
  color: #b3ac8a;
  text-align: center;
  font-size: clamp(1rem, 4vw, 1.8rem);
  line-height: 1.6;
  letter-spacing: 1px;
  > strong {
    color: #fff;
    font-size: 1.3em;
    background: linear-gradient(transparent 60%, #b3ac8a7a 60%);
    padding: 0 0 3px 2px;
    margin-right: 3px;
  }
  > span {
    font-size: 1.1em;
  }
}

.paragraph {
  text-align: center;
  margin: 48px auto 60px;
  padding: 0 4%;
  font-size: 0.9rem;
  line-height: 2;
}

.note {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  line-height: 2;
  margin-top: calc(2vh + 1vw);
  padding: 0 4%;
}

@media (min-width: 768px) {
  .container {
    overflow: visible;
  }
  .paragraph {
    white-space: pre-line;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 940px;
  }
}
