.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 100px;
  position: relative;
}

.icon {
  display: block;
  width: clamp(40px, 8vw, 60px);
  margin: 0 auto 20px;
}

.front {
  z-index: 1;
  position: relative;
}

.title {
  color: #b3ac8a;
  text-align: center;
  font-size: clamp(0.9rem, 5vw, 1.8rem);
  letter-spacing: 1px;
  > strong {
    color: #fff;
    font-size: 1.3em;
    background: linear-gradient(transparent 60%, #b3ac8a7a 60%);
    padding: 0 0 3px 2px;
    margin-right: 3px;
  }
  > span {
    font-size: 1.1em;
  }
}

.paragraph {
  text-align: center;
  margin: 48px auto 60px;
  padding: 0 4%;
  font-size: 0.9rem;
  line-height: 2.2;
}

.frame {
  width: 96%;
  margin: 0 auto;
  padding: 40px 24px 44px;
  border: 1px solid #b3ac8a;
  text-align: center;
  position: relative;
  z-index: 1;
  &:nth-of-type(1) {
    > img.goldPowder {
      position: absolute;
      top: 0;
      left: 0;
      width: 160px;
      height: 80%;
    }
    > img.knight {
      position: absolute;
      bottom: 0;
      width: 160px;
      right: 12px;
    }
  }
  &:nth-of-type(2) {
    margin-top: 12px;
    > img.goldPowder {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 160px;
      height: 80%;
    }
    > img.soldiers {
      position: absolute;
      bottom: 0;
      left: 0px;
      height: 100%;
    }
  }
  > h2 {
    color: #b3ac8a;
    font-size: clamp(0.9rem, 4vw, 1.6rem);
    letter-spacing: 2px;
    > strong {
      color: #fff;
      font-size: 1.4em;
    }
  }
  > p {
    margin-top: 28px;
    font-size: 0.9rem;
    line-height: 2.2;
  }
  > h2,
  > p {
    z-index: 1;
    position: relative;
  }
}

.note {
  display: block;
  text-align: center;
  margin-top: 24px;
  padding: 0 4%;
}

.backgroundText {
  display: none;
}

@media (min-width: 768px) {
  .paragraph {
    white-space: pre-line;
  }
  .backgroundText {
    display: block;
    position: absolute;
    color: #29261d;
    font-size: 12rem;
    &.sai {
      top: 60px;
      left: -20px;
    }
    &.kou {
      top: -40px;
      left: 128px;
    }
    &.kyou {
      top: 172px;
      left: 132px;
    }
  }
}

@media (min-width: 1024px) {
  .container {
    width: 940px;
  }
  .frame {
    width: 940px;
  }
}
