.container {
  overflow: hidden;
  padding: 47px 0 120px;
}

.backgroundText {
  position: relative;
  z-index: 1;
  background: rgb(100 100 100 / 40%);
  width: 92%;
  margin: 0 auto;
  padding: 40px 0;
}

.headline {
  margin-bottom: 32px;
  > span:last-child {
    text-shadow:
      #2d2d2d 2px 0px 8px,
      #2d2d2d -2px 0px 8px,
      #2d2d2d 0px -2px 8px,
      #2d2d2d -2px 0px 8px,
      #2d2d2d 2px 2px 16px,
      #2d2d2d -2px 2px 16px,
      #2d2d2d 2px -2px 16px,
      #2d2d2d -2px -2px 16px;
  }
}

.text {
  > p {
    padding: 0 4%;
    font-size: 0.9rem;
    line-height: 2;
  }
  > p + p {
    margin-top: calc(1vh + 1vw);
  }
}

@media (min-width: 768px) {
  .container {
    padding: 60px 0 180px;
  }
  .backgroundText {
    background-color: transparent;
  }
  .headline {
    > span:last-child {
      text-shadow: none;
    }
  }
  .text {
    > p {
      white-space: pre-line;
      text-align: center;
    }
  }
}
